*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
}

:root {
  --text-color: #333333;
  --fade-color: #eaeaea;
  --bg-gradient: #194d44;
  --bg-color: #297c6b;
  --hover-color: #5bc8af;
  --base-bg: #ffffff;
  --danger-color: #ff7777;

  --font-family: "Montserrat", sans-serif;

  --base-fs: 14px;
  --h1-mult: 4.5;
  --h2-mult: 3;
  --h3-mult: 2;

  --border-radius-xl: 12px;
  --border-radius-lg: 8px;
  --border-radius-sm: 2px;

  --linear-gradient-hero: rgba(25, 77, 65, 1), rgba(25, 77, 65, 0.7);
  font-size: 14px;
}

body {
  font-family: var(--font-family);
}

h1 {
  font-size: calc(var(--h1-mult) * 1rem);
  font-weight: 700;
  line-height: 72px;
}

h2 {
  font-size: calc(var(--h2-mult) * 1rem);
  font-weight: 700;
  line-height: 34px;
}

h3 {
  font-size: calc(var(--h3-mult) * 1rem);
  font-weight: 700;
  line-height: 34px;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.text--outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: inherit;
}

.text--uppercase {
  text-transform: uppercase;
}

.input-group--floating {
  --floating-label-color: white;
  --label-color: white;
  position: relative;
}

.input-group--floating.hero__form-input {
  --floating-label-color: #2a7d6c;
  --label-color: transparent;
}

.input-group input {
  font-size: 1rem;
  width: 100%;
  padding: 14px 1rem;
  border: 1px solid;
  border-radius: var(--border-radius-sm);
  background-color: transparent;
}

.input-group--floating label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  background: var(--label-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-group input:not(:focus) {
  color: var(--fade-color);
}

.input-group input:not(:focus) + label {
  color: var(--fade-color);
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  color: inherit;
}

.input-group--floating input:focus + label,
.input-group--floating input:not(:placeholder-shown) + label {
  top: -1px;
  font-size: 12px;
  color: inherit;
  background-color: var(--floating-label-color);
}

.input-group--floating input:focus + label {
  top: -1px;
  font-size: 12px;
  color: inherit;
  background-color: var(--floating-label-color);
}

.input-group input:focus + label {
  color: inherit;
}

.btn {
  padding: 1rem 3rem;
  border: 1px solid;
  border-radius: var(--border-radius-sm);
  border-color: var(--hover-color);
  background-color: var(--hover-color);
  color: white;
  cursor: pointer;
}

.btn.btn--with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn:hover {
  background-color: transparent;
  color: var(--hover-color);
}

.btn.btn--alt {
  background-color: transparent;
  color: var(--hover-color);
}

.btn.btn--alt:hover {
  background-color: var(--hover-color);
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  & img {
    width: 370px;
    height: 180px;
    border-radius: 3%;
  }
}

.mt-4 {
  margin-top: 1rem;
}

@media (max-width: 720px) {
  .container {
    margin: 2rem;
  }
}
.tooltip {
  --tooltip-bg: var(--bg-color);
  --arrow-width: 11px;
  position: relative;
  max-width: 300px;
  max-height: 100px;
  padding: 1rem 12px;
  font-size: 13px;
  line-height: 20px;
  background-color: var(--tooltip-bg);
  border-radius: var(--border-radius-lg);
  color: white;
}

.tooltip:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
}

.tooltip.up:after {
  border-bottom: 9px solid var(--tooltip-bg);
  border-right: var(--arrow-width) solid transparent;
  border-top: var(--arrow-width) solid transparent;
  border-left: var(--arrow-width) solid transparent;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.header {
  display: flex;
  color: white;
  padding-block: 0.8rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.logo {
  align-self: center;
}

.nav {
  display: flex;
  gap: 2rem;
  color: white;
}

.nav__wrapper {
  display: flex;
  gap: 2rem;
  align-self: center;
  text-transform: uppercase;
  padding-block: 1rem;
}

.nav__wrapper nav {
  position: relative;
  padding-inline: 1rem;
}

/* .nav__wrapper nav .nav:after {
  content: "";
  width: 1px;
  height: 1rem;
  display: block;
  clear: both;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
} */

.nav__item {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-decoration: none;
}

.nav__item.divider {
  width: 1px;
  align-self: center;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav__item:hover {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

.nav__contact p {
  padding-block: 2px;
  font-size: 14px;
  font-weight: 700;
}

.hero__section {
  padding-block: calc(3rem + 80px) 3rem;
  background: url("../images/image 2.png");
  background-size: cover;
  position: relative;
  z-index: 1;
  color: white;
}

.hero__section::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background: linear-gradient(var(--linear-gradient-hero));
}

@media (max-width: 1020px) {
  .hero__section div.container {
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }
}

.hero__section .hero__left {
  max-width: 600px;
  margin-block: auto;
}
.hero__section .hero__left h1 {
  margin-bottom: 1rem;
}

.hero__section .hero__right .form__container {
  max-height: 450px;
  min-width: min(100%, 450px);
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  padding: 4rem 1.5rem;
  border-radius: var(--border-radius-xl);
  color: white;
}

.hero__section .hero__right .form__container form > * {
  margin-block: 1rem;
}

.hero__section .hero__right .form__container form > *:first-child {
  margin-bottom: 2rem;
  margin-top: 0;
}

.hero__section .hero__right .form__container form > *:last-child {
  margin-top: 1.25rem;
}

.hero__section .hero__right .form__container form .form__group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero__section .hero__right .form__container form .form__group input {
  max-width: 200px;
}

.hero__section .hero__right .form__container form button.btn {
  margin-top: 2.5rem;
  padding-inline: 4rem;
}

.hero__section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mt-4 {
  margin-top: 1rem;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  & img {
    width: 370px;
    height: 180px;
    border-radius: 3%;
  }
}

.carousel {
  position: relative;
  margin: 5rem auto;
}

.card_container {
  position: absolute;
  left: 20%;
  display: flex;
  gap: 2rem;

}

.image_container {
  & img{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
  }
}

.qoute_container {
  background: var(--bg-gradient);
  max-width: 675px;
  padding: 4rem;
  color: rgba(255, 255, 255, 1);
}

.qoute_header {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  margin-bottom: 2rem;

}

.qoute {
  
& p {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
}



@media (max-width: 720px) {
  .container {
    margin: 2rem;
  }
}
